[submodule "watermelon-wine-os/layers/meta-embedded-apps"]
	path = watermelon-wine-os/layers/meta-embedded-apps
	url = https://github.com/DanielMartensson/meta-embedded-apps.git
	branch = scarthgap
[submodule "watermelon-wine-os/layers/meta-qt6"]
	path = watermelon-wine-os/layers/meta-qt6
	url = https://code.qt.io/git/yocto/meta-qt6.git
	branch = 6.8
[submodule "watermelon-wine-os/layers/meta-rust-bin"]
	path = watermelon-wine-os/layers/meta-rust-bin
	url = https://github.com/rust-embedded/meta-rust-bin.git
	branch = master
[submodule "watermelon-wine-os/layers/meta-clang"]
	path = watermelon-wine-os/layers/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = scarthgap
